body {
    margin: 0;
    padding: 0;
    background-color: #f20505; 
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
}


body {
    margin: 0;
    padding: 0;
    background-color: #42e607; 
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
}
